@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.addBrandModalContainer {
    z-index: 9999;
}
/* width */
.scroll-styles::-webkit-scrollbar {
    height: 10px;
}
 
/* Track */
.scroll-styles::-webkit-scrollbar-track {
    background: #f1f1f1;
}
 
/* Handle */
.scroll-styles::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0); 
    border-radius: 5px;
}
 
/* Handle on hover */
.scroll-styles::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 1);
}
